@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');




:root{
  --primary-bg-color: #0e162a;
  --primary-btn-color: #313e55;
  --primary-p-color: #8fa0b7;
  --navbar-color: #cbd5e3;
  --primary-font: 'Roboto';
  --secondary-font: 'Atkinson Hyperlegible Mono'
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

